button {
	border: none;
	border-radius: 3px;
	background-color: #e75d5c;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
}
.hide {
	display: none !important;
}
