main {
	form {
		input {
			margin: 10px 0;
			&[type='text'],
			&[type='email'] {
				box-sizing: border-box;
				width: 100%;
				padding: 5px 10px;
			}
			&[type='checkbox'] {
				margin-left: 5px;
			}
		}
		div {
			display: flex;
			justify-content: center;
			button {
				border: none;
				padding: 10px 20px;
				margin: 10px 0;
				border-radius: 3px;
				color: #fff;
				font-weight: bold;
				cursor: pointer;
				background-color: #198754;
				&:hover {
					background-color: #157347;
				}
				&:active {
					background-color: #146c43;
				}
			}
		}
	}
	form#add-task {
		height: 0;
		opacity: 0;
		visibility: hidden;

		#description {
			width: 100%;
			margin: 10px 0;
		}
		div.line {
			justify-content: space-between;
			flex-wrap: wrap;
			div {
				display: flex;
				align-items: center;
				label {
					margin-right: 10px;
				}
			}
		}

		&.show {
			margin: 30px 0;
			max-width: 800px;
			height: fit-content;
			opacity: 1;
			visibility: visible;
			transition: all 1s;
		}
	}
}
